<form [formGroup]="ourValidationForm">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="name" class="form-control" formControlName="name" />
        <div *ngIf="!nameValid">
            <input style="border: 2px solid red" type="name" class="form-control" formControlName="name" />
        </div>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Age</label>
        <input type="number" class="form-control" formControlName="age" />
        <div *ngIf="!nameValid">
            <input *ngIf="!nameValid" style="border: 2px solid red" type="number" class="form-control" formControlName="age" />
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>